<p id="notice"><%= notice %></p>

<h1>Specialist Information</h1>
<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @specialist.specialty %>
</p>

</br>
<h2>Pending Appointments</h2>

<table>
<thead>
<tr>
  <th>Appointment Date</th>
  <th>Patient</th>
  <th>Complaint</th>
  <th>Days Away</th>
  <th colspan="5"></th>
</tr>
</thead>
</br>
<tbody>
<% @specialist.appointments.each do |d|%>
    <tr align="center">
      <td><%= d.appointment_date %></td>
      <td><%= d.patient.name%></td>
      <td><%= d.complaint%></td>
      <td><% require 'date' %>
      <% difference = (d.appointment_date - Date.today).to_i %>
      <% if(difference >= 0) %>
      <%= difference %>
      <% elsif(difference < 0)%>
      <%= '0' %>
      <% end %>

     </td>


      <td><%= link_to 'Show', appointments_path %></td>
    </tr>
<% end %>
</tbody>
</table>

</br>
</br>
<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>