<p id="notice"><%= notice %></p>
<h1>Patient Information</h1>
<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street Address:</strong>
  <%= @patient.street_address %>
</p>
<p>
  <strong>Insurance:</strong>
  <%= @patient.insurance.name %>
</p>
</br>
<h2>Appointment History</h2>
<table>
  <thead>
  <tr>
    <th>Specialist</th>
    <th>Appointment Date</th>
    <th colspan="5"></th>
  </tr>
  </thead>
  </br>
  <tbody>
  <% @patient.appointments.each do |d|%>
      <tr align="center">
        <td><%= d.specialist.name %></td>
        <td><%= d.appointment_date%></td>

        <td><%= link_to 'Show', appointments_path %></td>
      </tr>
  <% end %>
  </tbody>
</table>
</br>


<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
