<%= form_for(@appointment) do |f| %>
  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :specialist_id %><br>
    <%= f.collection_select :specialist_id,Specialist.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :patient_id %><br>
    <%= f.collection_select :patient_id,Patient.all, :id, :name %>
  </div>
  <div class="field">
    <%= f.label :complaint %><br>
    <%= f.text_area :complaint %>
  </div>
  <div class="field">
    <%= f.label :appointment_date %><br>
    <%= f.date_select :appointment_date %>
  </div>
  <div class="field">
    <%= f.label :fee %><br>
    <%= f.text_field :fee, :class => 'fee', :value => (number_with_precision(f.object.fee, :precision => 2) || 0) %>

  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
